CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_DM_CRYPT=y
CONFIG_IWLWIFI=m
CONFIG_IWLWIFI_LEDS=y
CONFIG_IWLDVM=m
CONFIG_IWLMVM=m
CONFIG_IWLWIFI_OPMODE_MODULAR=y
CONFIG_FB_NOTIFY=y
CONFIG_FB=y
CONFIG_FUSE_FS=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRC64=y
# USB - check
# CONFIG_USB_GADGET is not set
CONFIG_USB_PCI=y
CONFIG_USB_OTG=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=y
CONFIG_TYPEC=y
CONFIG_TYPEC_UCSI=y

# Bluetooth
CONFIG_BT_BREDR=y
CONFIG_BT_RFCOMM=m
CONFIG_BT_HIDP=m
CONFIG_BT_HS=y
CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIUART=m
CONFIG_INPUT_UINPUT=y
CONFIG_BT_HCIBTUSB_RTL=y
CONFIG_BT_HCIUART_AG6XX=y
CONFIG_BT_HCIBCM203X=m
CONFIG_BT_RFCOMM_TTY=y

## usb muss
CONFIG_BT=y
CONFIG_BT_BNEP=y
CONFIG_UHID=y


CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_CRYPTO_USER=y
CONFIG_CRYPTO_USER_API_AEAD=m

## Virtualbox
CONFIG_KVM=m
CONFIG_KVM_INTEL=m

# usbc
CONFIG_HOTPLUG_PCI_PCIE=y
CONFIG_HOTPLUG_PCI_ACPI=y

# usb Sound
CONFIG_SND_USB_AUDIO=m

#bt test
CONFIG_PPP=m
CONFIG_PPP_ASYNC=m
CONFIG_PPP_SYNC_TTY=m
CONFIG_PPP_DEFLATE=m
CONFIG_PPP_BSDCOMP=m
CONFIG_PPP_MPPE=m
CONFIG_PPPOE=m

## systemd
CONFIG_FANOTIFY=y
CONFIG_MEMCG=y
CONFIG_CGROUP_PIDS=y
CONFIG_CGROUP_BPF=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_MISC=y
CONFIG_CGROUP_RDMA=y
CONFIG_BLK_CGROUP=y
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y

# webcam
CONFIG_MEDIA_SUPPORT=y

## user space
CONFIG_UIO=y
CONFIG_UIO_PCI_GENERIC=y

