CONFIG_NVME_CORE=y
CONFIG_BLK_DEV_NVME=y
CONFIG_DM_CRYPT=y
CONFIG_IWLWIFI=m
CONFIG_IWLWIFI_LEDS=y
CONFIG_IWLDVM=m
CONFIG_IWLMVM=m
CONFIG_IWLWIFI_OPMODE_MODULAR=y
CONFIG_FB_NOTIFY=y
CONFIG_FB=y
CONFIG_FUSE_FS=y
CONFIG_CRYPTO_CRYPTD=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_XTS=y
CONFIG_CRYPTO_ESSIV=y
CONFIG_CRYPTO_AES_NI_INTEL=y
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRC64=y
# USB - check
# CONFIG_USB_GADGET is not set
CONFIG_USB_PCI=y
CONFIG_USB_OTG=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=y
CONFIG_TYPEC=y
CONFIG_TYPEC_UCSI=y

# Bluetooth
CONFIG_BT=m
