#
# Processor type and features
#
CONFIG_X86_INTEL_LPSS=y

#
# NVME Support
#
CONFIG_BLK_DEV_NVME=y

#
# Frame buffer Devices
#
CONFIG_FB=y

#
# Frame buffer hardware drivers
#
CONFIG_FB_EFI=y

#
# Input Device Drivers
#
CONFIG_MOUSE_SYNAPTICS_I2C=y
CONFIG_RMI4_CORE=y
CONFIG_RMI4_I2C=y
CONFIG_RMI4_SMB=y
CONFIG_RMI4_F03=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_F30=y
CONFIG_RMI4_F34=y
CONFIG_RMI4_F3A=y
CONFIG_RMI4_F55=y

#
# Special HID drivers
#
CONFIG_HID_LENOVO=y
CONFIG_HID_MULTITOUCH=y

#
# Crypto core or helper
#
CONFIG_CRYPTO_USER=y

#
# Userspace interface
#
CONFIG_CRYPTO_USER_API=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_ENABLE_OBSOLETE=y

#
# Generic fallback / legacy drivers
#
CONFIG_BLK_DEV_DM=y
CONFIG_DM_CRYPT=y

#
# Length-preserving ciphers and modes
#
CONFIG_CRYPTO_CBC=y
CONFIG_CRYPTO_CTR=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_XTS=y

#
# Library routines
# For HiDPI Display
#
CONFIG_FONTS=y
CONFIG_FONT_TER16x32=y

#
# Support for init systems, system and service managers
#
CONFIG_GENTOO_LINUX_INIT_SCRIPT=n
CONFIG_GENTOO_LINUX_INIT_SYSTEMD=y
# end of Support for init systems, system and service managers

#
# ACPI drivers
#
CONFIG_I2C_SCMI=y

#
# I2C system bus drivers (mostly embedded / system-on-chip)
#
CONFIG_I2C_DESIGNWARE_CORE=y
CONFIG_I2C_DESIGNWARE_PLATFORM=y
CONFIG_I2C_DESIGNWARE_PCI=y

#
# Multifunction device drivers
#
CONFIG_MFD_CORE=y
CONFIG_MFD_INTEL_LPSS=y
CONFIG_MFD_INTEL_LPSS_ACPI=y
CONFIG_MFD_INTEL_LPSS_PCI=y

#
# I2C HID support
#
CONFIG_I2C_HID_ACPI=y
CONFIG_I2C_HID_CORE=y

#
# DMA Devices
#
CONFIG_DMA_ENGINE=y
CONFIG_INTEL_IDMA64=y

#
# X86 Platfrom Spedific Device Drivers
#
#
CONFIG_ACPI_WMI=y
CONFIG_WMI_BMOF=y
CONFIG_THINKPAD_ACPI=y
CONFIG_THINKPAD_ACPI_ALSA_SUPPORT=y
CONFIG_THINKPAD_ACPI_VIDEO=y
CONFIG_THINKPAD_ACPI_HOTKEY_POLL=y

# USB Physical Layer drivers
CONFIG_TYPEC=y
